{
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.YAML-tmLanguage", "*.tmLanguage.yaml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": true
            }
        }
    ]
}
